/* Estilos de Acessibilidade */
#opcoes-acessibilidade {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: none;
    flex-direction: column;
  }
  
  #opcoes-acessibilidade.apresenta-lista {
    display: flex;
  }
  
  #botao-acessibilidade {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  body.alto-contraste {
    background-color: black;
    color: white;
  }
  
  body {
    font-size: 1rem;
    transition: font-size 0.3s ease;
  }
  